.country{
    border: 2px solid blueviolet;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}
.country img{
    width: 200px;
}
.countries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}